<style>
  :host {
    font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  .card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }

  svg#rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: -24px;
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {

    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
</style>

<!-- Toolbar TOP -->
<div class="toolbar" role="banner">
  <img src="https://i.pinimg.com/originals/a1/34/d6/a134d69b63d77dfe1309030d165e2abf.png" width="50" alt="Programix Logo"/>
  <span>Bienvenido a PROGRAMIX</span>
  <div class="spacer"></div>
  <img src="https://vignette.wikia.nocookie.net/monster-strike-enjp/images/4/4c/2472.png/revision/latest/window-crop/width/200/x-offset/23/y-offset/0/window-width/357/window-height/356?cb=20170209093109" width="140" alt="Oragon Logo"/>
  <span>Oragon <</span>
</div>

<!-- AQUÍ EMPIEZA EL CONTENIDO PRINCIPAL -->

<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">

    <svg id="rocket" alt="Rocket Ship" width="90.000" height="90.000" viewBox="0 0 101.678 101.678">
      <g id="Group_83" data-name="Group 83" transform="translate(-141 -696)">
        <circle id="Ellipse_8" data-name="Ellipse 8" cx="50.839" cy="50.839" r="50.839" transform="translate(141 696)" fill="#dd0031"/>
        <g id="Group_47" data-name="Group 47" transform="translate(165.185 720.185)">
          <path id="Path_33" data-name="Path 33" d="M3.4,42.615a3.084,3.084,0,0,0,3.553,3.553,21.419,21.419,0,0,0,12.215-6.107L9.511,30.4A21.419,21.419,0,0,0,3.4,42.615Z" transform="translate(0.371 3.363)" fill="#fff"/>
          <path id="Path_34" data-name="Path 34" d="M53.3,3.221A3.09,3.09,0,0,0,50.081,0,48.227,48.227,0,0,0,18.322,13.437c-6-1.666-14.991-1.221-18.322,7.218A33.892,33.892,0,0,1,9.439,25.1l-.333.666a3.013,3.013,0,0,0,.555,3.553L23.985,43.641a2.9,2.9,0,0,0,3.553.555l.666-.333A33.892,33.892,0,0,1,32.647,53.3c8.55-3.664,8.884-12.326,7.218-18.322A48.227,48.227,0,0,0,53.3,3.221ZM34.424,9.772a6.439,6.439,0,1,1,9.106,9.106,6.368,6.368,0,0,1-9.106,0A6.467,6.467,0,0,1,34.424,9.772Z" transform="translate(0 0.005)" fill="#fff"/>
        </g>
      </g>
    </svg>

    <span><h3>PROGRAMIX</h3></span>

    <div>
    <img width="130" style="margin-left: 10px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQgB3Yyeu_Isad02bTOHNlv4p091bKiVHk4KfgeoZtBGzBjqnkh&usqp=CAU"/>
    </div>

  </div>

  <BR>
  <div class="p-3 mb-2 bg-dark text-white">
    <p style="font-family: Homer Simpson UI; text-align: justify;">
      En PROGRAMIX compartimos una alta calidad del servicio enfocada a satisfacer y exceder las expectativas de quien está leyendo en este momento jaja xD y los más de 99999 Billones de clientes que atendemos cotidianamente y sin interrupción … (porque ya aplique las pruebas de Performace ;) jaja delno)
    <br>
      Les damos la bienvenida a nuestro portal de Internet, el cual permite conocer aspectos de nuestra empresa, como Departamentos, Funciones y Empleados.
    <br>
      Los invitamos a conocer las iniciativas emprendidas en nuestra organización para consolidar nuestra posición de liderazgo como una empresa más dinámica y flexible, con mayor cercanía con nuestros consumidores y en un marco de integridad, eficiencia y responsabilidad social (¡Valórenlo bastante!!!).
    </p>
  </div>
  <BR> 
  <!-- Estructura -->
  <div class="container">
    <div class="row">
      <div class="col order-first">
        <h3 class="table-dark text-center">Empleados</h3>
        <table class="table table-borderleb table-dark table-sm">
          <Thead class="thead-dark">
              <tr>
                  <th><button type="button" (click)="ListarPersona()" class="btn btn-info" style="margin-left: 30px;"><i class="fas fa-list-alt"></i> Listar</button></th>
                  <th><button type="button" (click)="AgregarPersona()" class="btn btn-info"><i class="fas fa-plus-circle"></i> Agregar</button></th>
              </tr>
          </Thead>
        </table>
      </div>
      <div class="col">
        <h3 class="table-dark text-center">Departamentos</h3>
        <table class="table table-borderleb table-dark table-sm">
          <Thead class="thead-dark">
            <tr>
                <th><button type="button" (click)="ListarDepartamento()" class="btn btn-info" style="margin-left: 30px;"><i class="fas fa-list-alt"></i> Listar</button></th>
                <th><button type="button" (click)="AgregarDepartamento()" class="btn btn-info"><i class="fas fa-plus-circle"></i> Agregar</button></th>
            </tr>
          </Thead>
        </table>
      </div>
      <div class="col order-last">
        <h3 class="table-dark text-center">Funciones</h3>
        <table class="table table-borderleb table-dark table-sm">
          <Thead class="thead-dark">
            <tr>
              <!-- (click)="Listar()" -->
                <th><button type="button"  class="btn btn-info" style="margin-left: 30px;"><i class="fas fa-list-alt"></i> Listar</button></th>
                <!-- (click)="Agregar()" -->
                <th><button type="button"  class="btn btn-info"><i class="fas fa-plus-circle"></i> Agregar</button></th>
            </tr>
          </Thead>
        </table>
      </div>
    </div>
  </div>    
</div>

<router-outlet></router-outlet>